<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>v-if</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3 v-if="!message">Escribe tu sugerencia</h3>
                    <h3 v-if="message">Presiona ENTER para enviar</h3>
                    <textarea v-model="message"></textarea>
                </div>
                <div class="col-md-5">
                    <h3>JSON</h3>
                    <pre> {{$data}} </pre>
                </div>            
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
new Vue({
    el: "#main",

    data:{
        message: ""
    },//data
    
    methods:{
    }//methods

})//new Vue
</script>
</body>
</html>