<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Componentes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div id="main" class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1>Albumbs</h1>
                <ul class="list-group">
                    <li v-for="album in albums" class="list-group-item">
                        {{ album.title }}
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h1>Posts</h1>
                <ul class="list-group">
                    <li v-for="post in posts" class="list-group-item">
                        {{ post.title }}
                    </li>
                </ul>
            </div>            
            <div class="col-sm-12">
                <h1>JSON</h1>
                <pre style="background:#e0e0e0; border:1px solid #ccc">
                    {{ $data }}
                </pre>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
new Vue({
    el: "#main",

    created: function () {

    },

    data:{
        posts: [],
        albumbs: [],
    },//data
    
    methods:{
        get_posts : function() {
            const sUrlJson = "https://jsonplaceholder.typicode.com/posts"
            axios.get(sUrlJson).then((response)=>{
                this.lista = response.data
            })
        },//get_posts

        get_albumbs : function() {
            const sUrlJson = "https://jsonplaceholder.typicode.com/albums"
            axios.get(sUrlJson).then((response)=>{
                this.lista = response.data
            })
        },//get_albumbs        
    },//methods

    computed: {

    }//computed

})//new Vue
</script>
</body>
</html>